---
import AboutMe from "../components/AboutMe.astro";
import Landing from "../components/Landing.astro";
import Layout from "../layouts/Layout.astro";

const siteName = "Joenz Portfolio";
const title = "Joenz Portfolio";
const siteDescription = "Joenz's Portfolio, a Full-stack Developer";

---

<Layout title={title} siteName={siteName} siteDescription={siteDescription}>
	<Landing />
	<AboutMe/>
	<!-- <h1 class=" text-white">Hello 👋! I'm Joenz, a Full-stack Developer</h1> -->
</Layout>