---
---

<section class="min-h-dvh text-xl md:text-5xl place-content-center place-items-center">
  <div>
    <h1>
      Hi 👋, I'm Joenz Kim-Chan
    </h1>
    <div id="typed-strings">
      <p>
        I am a <emp>Software Engineer</emp>
      </p>
      <p>
        I am a <emp>Full Stack Developer</emp>
      </p>
      <p>
        I am a <emp>Backend Engineer</emp>
      </p>
    </div>
    <div class="text-lg">
      <span id="typed"></span>
    </div>
  </div>
</section>
<style>
  section {
    font-family: 'Manrope', sans-serif;
  }
</style>
<script>
  import Typed from 'typed.js';
  var typed = new Typed('#typed', {
    stringsElement: "#typed-strings",
    typeSpeed: 50,
    loop: true
  })
</script>